main {
  display: flex;
}
@media (max-width: 768px) {
  main {
    display: block;
  }
}
main .sidenav {
  flex-basis: 15%;
  margin-right: 20px;
  background: #4400b6;
  color: #fff;
  height: 100vh;
}
@media (max-width: 768px) {
  main .sidenav {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 769px) {
  main .sidenav {
    overflow-y: auto;
  }
}
main .sidenav .profile {
  position: relative;
  width: 50px;
  height: 50px;
  transform: translate(60px, 10px);
}
main .sidenav .profile img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
main .sidenav ul {
  list-style: none;
  margin-top: 40px;
  position: relative;
  transition: 0.5s ease-out;
}
@media (max-width: 768px) {
  main .sidenav ul {
    margin-top: 60px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-out;
  }
  main .sidenav ul.open {
    height: 100%;
  }
}
main .sidenav ul li {
  margin-bottom: 15px;
  padding: 10px;
  transform: translateX(-20px);
  border: 1px solid #fff;
  transition: 0.5s ease-out;
}
@media (max-width: 768px) {
  main .sidenav ul li {
    margin-bottom: 10px;
  }
}
main .sidenav ul li:hover {
  background: #5daaff;
}
main .sidenav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 200;
}
main .main__area {
  flex-basis: 85%;
  height: 100vh;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  main .main__area {
    display: inline-block;
    height: auto;
    width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 769px) {
  main .main__area .form__wrapper {
    width: 800px;
  }
}
@media (max-width: 768px) {
  main .main__area .form__wrapper {
    position: relative;
    width: 80%;
    margin-left: 10%;
  }
}
